:root {
    --ls-background:#121212;
    --ls-background2: #333;
    --ls-background-hover: #383838;
    --ls-trim-hover: #464646;
    --ls-trim: #353535;
    --ls-light-trim: #777;
    --ls-aqua: #009578;
    --ls-orange: #cc7700;
}

body {
    color: #fff;
    background-color: var(--ls-background);
    font-family: consolas, monospace, "Lucida Console", "Courier New";
    font-size: 12px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

span {
    display: inline-block;
}

.flexCol {
    display: flex;
}

/* -- Inputs: -- */

.inputs {
    width: 250px;
}

.input_section {
    padding: 0%;
    width: 250px;
}

input,
.effect {
    color: inherit;
    background-color: var(--ls-background2);
    border: 1px solid var(--ls-background);
}

input {
    display: inline-block;
    position: relative;
    translate: 20px;
}
.input {
    width: 160px;
}

/* .input--ring,
.input--bracelet,
.input--necklace {
    width: 226px;
} */
.miku {
    position: absolute;
    transform-origin: 0 0;
    scale: 17%;
    translate: 20px;
    z-index: -1;
}

.powder {
    resize: horizontal;
    width: 58px;
    position: absolute;
}

.toggle {
    position: absolute;
    background-image: url("img/buttons/exper_closed.png");
    background-color: var(--ls-background2);
    border-collapse: separate;
    width: 18px;
    height: 18px;
    border: 1px solid var(--ls-background);
    background-size: 100%;
    padding: 0%;
    cursor: pointer;
}

.rotate {
    transform: rotate(90deg);
}

.display {
    /* transition: all 0.2s ease; */
    border: 1px solid var(--ls-light-trim);
    white-space: pre-line;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    width: 250px;
    z-index: 1;
    background-color: var(--ls-background);
}

.collapse {
    border-color: var(--ls-background);
    height: 0px !important;
    border-width: 0px;
    padding: 0px;
}

.toggle:hover,
.effect:hover,
input:hover {
    border: 1px solid var(--ls-trim-hover);
    background: var(--ls-background-hover);
}

input:focus {
    outline: none;
    border: 1px solid var(--ls-orange) !important;
}

/* Effect Selectors */

.toggleOn {
    background-color: rgb(20, 80, 80) !important;
}

/* -- Output: -- */

.outputs {
    width: 200px;
    word-wrap:normal;
    white-space: pre-line;
}

/* Link Buttons */
button {
    cursor: pointer;
    color: inherit;
    background-color: var(--ls-background2);
    border: 1px solid var(--ls-background);
}
button:hover {
    border-color: var(--ls-trim-hover);

}

/* -- Ability Tree: -- */

table {
    user-select: none;
    border-spacing: 0;
}

td {
    padding: 0px;
}

.abilityTreeSection {
    width: 206px;
    image-rendering: pixelated;
}

.abilityTreeInside {
    border-image: url(img/background/ability_tree.png) 22 / 22px / 0px repeat;
    padding: 22px;
}

.abilityTree {
    background-image: url(img/background/tree_scroll.png);
}

.ability_node {
    height: 16px;
    width: 16px;

    background-size: 200%;
    scale: 128.571%;
    z-index: 0;

    image-rendering: pixelated;
}

.connector {
    height: 18px;
    width: 18px;
}

img.highlight_node[data-type="ability"] {
    translate: -50% 0%;
}

.ability_node[data-type="ability"] {
    cursor: pointer;
}

.node_img[data-type="ability"] {
    transform-origin: 0 0;
    width: 200%;
    object-fit: cover;
    image-rendering: pixelated;
}

.node_img_box[data-type="ability"] {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

/* -- Attacks: -- */

/* .attacksSection {
    width: 500px;
    height: 500px;
    border: 1px solid red;
} */

.test_img {
    transform-origin: 0 0;
    width: 200%;
    object-fit: cover;
    image-rendering: pixelated;
    translate: 0% -50%;
}

.test_img_div {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

/* Colors */
.positive {
    color: #5e5;
}
.negative {
    color: #e55;
}
