:root {
    --ls-background: #121212;
    --ls-background2: #333;
    --ls-background-hover: #383838;
    --ls-trim-hover: #464646;
    --ls-trim: #353535;
    --ls-light-trim: #777;
    --ls-aqua: #009578;
    --ls-orange: #cc7700;
    --wy-mythic: #a0a;
    --wy-fabled: #f55;
    --wy-legendary: #5ff;
}

body {
    color: #fff;
    background-color: var(--ls-background);
    font-family: consolas, monospace, "Lucida Console", "Courier New";
    font-size: 12px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

span {
    display: inline-block;
}

.flexCol {
    display: flex;
}

/* -- Inputs: -- */

.slot_icon {
    height: 16px;
    width: 16px;
    overflow: hidden;
}

.inputs {
    width: 300px;
    /* width:600px; */
    padding: 0px;
}

.input_section {
    display: flex;
    line-height: 0;
    padding: 0px;
    /* width: 250px; */
}

input,
.effect {
    color: inherit;
    background-color: var(--ls-background2);
    border: 1px solid var(--ls-background);
}

.input {
    width: 160px;
}

.miku {
    position: absolute;
    transform-origin: 0 0;
    scale: 17%;
    translate: 20px;
    z-index: -1;
}

.powder {
    width: 58px;
}

.toggle {
    /* display: block; */
    background-image: url("img/buttons/exper_closed.png");
    background-color: var(--ls-background2);
    border-collapse: separate;
    width: 20px;
    height: 20px;
    border: 1px solid var(--ls-background);
    background-size: 100%;
    cursor: pointer;
}

.rotate {
    transform: rotate(90deg);
}

.display {
    /* transition: all 0.2s ease; */
    border: 1px solid var(--ls-light-trim);
    white-space: pre-line;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    width: 250px;
    z-index: 1;
    background-color: var(--ls-background);
}

.collapse {
    border-color: var(--ls-background);
    height: 0px !important;
    border-width: 0px;
    padding: 0px;
}

.effect:hover,
input:hover {
    border: 1px solid var(--ls-trim-hover);
    background-color: var(--ls-background-hover);
}

input:focus {
    outline: none;
    border: 1px solid var(--ls-orange) !important;
}

/* Effect Selectors */

.toggleOn {
    background-color: rgb(20, 80, 80) !important;
}

/* -- Output: -- */

.outputs {
    width: 200px;
}

.output--A {
    word-wrap: normal;
    white-space: pre-line;
}

.support_display {
    width: 250px;
    height: 20px;
}

/* Link Buttons */
button {
    cursor: pointer;
    color: inherit;
    background-color: var(--ls-background2);
    border: 1px solid var(--ls-background);
}
button:hover {
    border-color: var(--ls-trim-hover);
    background-color: var(--ls-background-hover);
}

/* -- Ability Tree: -- */

table {
    user-select: none;
    border-spacing: 0;
}

td {
    padding: 0px;
}

.abilityTreeSection {
    width: 206px;
    image-rendering: pixelated;
}

.abilityTreeInside {
    border-image: url(img/background/ability_tree.png) 22 / 22px / 0px repeat;
    padding: 22px;
}

.abilityTree {
    background-image: url(img/background/tree_scroll.png);
}

.ability_node {
    height: 16px;
    width: 16px;

    background-size: 200%;
    scale: 128.571%;
    z-index: 0;

    image-rendering: pixelated;
}

.connector {
    height: 18px;
    width: 18px;
}

img.highlight_node[data-type="ability"] {
    translate: -50% 0%;
}

.ability_node[data-type="ability"] {
    cursor: pointer;
}

.node_img[data-type="ability"] {
    transform-origin: 0 0;
    width: 200%;
    object-fit: cover;
    image-rendering: pixelated;
}

.node_img_box[data-type="ability"] {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

/* -- Attacks: -- */

#attack_display {
    text-align: center;
}

/* Aspects */

.aspects_label {
    text-align: center;
    width: 206px;
}

.aspects_border {
    border-image: url(img/background/ability_tree.png) 22 / 22px / 0px repeat;
    padding: 22px;
    width: 162px;
    line-height: 0;
}

#active_aspects,
#inactive_aspects {
    line-height: 0;
    min-height: 27px;
    background-image: url(img/background/tree_scroll.png);
}

#active_aspects > div {
    margin-left: 5.4px;
    /* margin-right: 2.7px; */
    display: inline-block;
}

.aspect,
.aspect_image {
    height: 27px;
    width: 27px;
    background-size: 100%;
}

.aspect {
    cursor: pointer;
    display: inline-block;
}

.aspect_tier {
    translate: 7px -7px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 10px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aspect_up,
.aspect_down {
    width: 5.4px;
    height: 13.5px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}

.aspect_up {
    background-image: url(img/buttons/page_up.png);
    translate: -5.4px 0px;
}

.aspect_down {
    background-image: url(img/buttons/page_down.png);
    translate: -5.4px 13.5px;
}

.Tier_I {
    color: #666;
}
.Tier_II {
    color: #6d4d10;
}
.Tier_III {
    color: #c0c0c0;
}
.Tier_IV {
    color: #d4af37;
}

.mythic {
    background: var(--wy-mythic);
    background: radial-gradient(circle, var(--wy-mythic) 0%, rgba(0, 0, 0, 0) 75%);
}

.fabled {
    background: var(--wy-fabled);
    background: radial-gradient(circle, var(--wy-fabled) 0%, rgba(0, 0, 0, 0) 75%);
}

.legendary {
    background: var(--wy-legendary);
    background: radial-gradient(circle, var(--wy-legendary) 0%, rgba(0, 0, 0, 0) 75%);
}

/* Colors */
.positive {
    color: #5e5;
}
.negative {
    color: #e55;
}

.earth {
    color: #00aa00;
}

.thunder {
    color: #ffff55;
}

.fire {
    color: #FF5555;
}

.water {
    color: #55FFFF;
}

.air {
    color: #fff;
}

@font-face {
    font-family: "minecraft";
    src: url("font/merged.woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "minecraft";
    src: url("font/mergedbold.woff");
    font-weight: 900;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "mojangles";
    src: url("font/mojangles.otf");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "unifont";
    src: url("font/unifont.otf");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "unifontEmoji";
    src: url("font/unifontEmoji.otf");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

.font-minecraft {
    font-family: "minecraft";
}

.font-default {
    font-family: none;
}
