body {
    color: #fff;
    background-color: #121212;
    font-family: consolas, monospace, "Lucida Console", "Courier New";
    font-size: 12px;
}

span {
    display: inline-block;
}

.flexCol {
    display: flex;
}

/* -- Inputs: -- */

.input_section {
    padding: 0%;
    width: 300px;
}

.inputs {
    width: 250px;
}

input {
    display: inline-block;
    position: relative;
    translate: 20px;
    color: #ddd;
    background-color: #333;
    border: 1px solid #121212;
}
.input {
    width: 150px;
}

.powder {
    resize: horizontal;
    width: 50px;
}

.toggle {
    position: absolute;
    background-image: url("img/icons/exper_closed.png");
    background-color: #333;
    border-collapse: separate;
    width: 18px;
    height: 18px;
    border: 1px solid #121212;
    background-size: 100%;
    padding: 0%;
}

.rotate {
    transform: rotate(90deg);
}

.display {
    transition: all 0.5s ease;
    border: 1px solid #777;
    white-space: pre-line;
    overflow: hidden;
    padding: 0px;
}

.collapse {
    height: 0px !important;
    border: 0px;
    padding: 0px;
}

.toggle:hover,
input:hover {
    border: 1px solid #444;
    background-color: #383838;
}

input:focus {
    outline: none;
    border: 1px solid #cc7700 !important;
}

/* -- Output: -- */

.outputs {
    width: 400px;
}

/* .output--A {
    white-space: pre-line;
} */

/* -- Ability Tree: -- */

table {
    user-select: none;
    border-spacing: 0;
}

td {
    padding: 0px;
}

.abilityTreeSection {
    width: 350px;
    image-rendering: pixelated;
}

.abilityTreeContainer {
    transform-origin: 0 0;
    scale: 150%;
}

.abilityTreeInside {
    border-image: url(img/background/ability_tree.png) 22 / 22px / 0px repeat;
    padding: 22px;
}

.abilityTree {
    background-image: url(img/background/tree_scroll.png);
}

.ability_node {
    height: 16px;
    width: 16px;

    background-size: 200%;
    scale: 128.571%;
    z-index: 0;

    image-rendering: pixelated;
}

.connector {
    height: 18px;
    width: 18px;
}

img.highlight_node[data-type="ability"] {
    translate: -50% 0%;
}

.ability_node[data-type="ability"] {
    cursor: pointer;
}

.node_img[data-type="ability"] {
    transform-origin: 0 0;
    width: 200%;
    object-fit: cover;
    image-rendering: pixelated;
}

.node_img_box[data-type="ability"] {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

/* -- Attacks: -- */

/* .attacksSection {
    width: 500px;
    height: 500px;
    border: 1px solid red;
} */

.test_img {
    transform-origin: 0 0;
    width: 200%;
    object-fit: cover;
    image-rendering: pixelated;
    translate: 0% -50%;
}

.test_img_div {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
